<ion-header  >
  <ion-navbar style="padding: 1px" color=primary >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  
   <ion-title>Category</ion-title>
    
   

  </ion-navbar>
  
</ion-header>



<ion-content no-padding >

  <!--Segment Block-->
  <ion-segment [(ngModel)]="segmentblock" color="primary" >
      <ion-segment-button value="Expenses">
          Expenses
      </ion-segment-button>
      <ion-segment-button value="Income">
         Income 
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segmentblock">
      

          <ion-list style="padding-top:2px;"  *ngSwitchCase="'Expenses'" >
        <ion-item-sliding *ngFor="let expense of expenses_category; let i=index"  style="border-bottom:1px solid gray;">
     <ion-item  >
   
       <span>{{expense.categoryname}}</span>
          </ion-item>

          <ion-item-options side="right">
              <button ion-button color="primary" >
                <ion-icon name="paper"></ion-icon>
              </button>
              <button ion-button color="danger" >
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
           
        </ion-item-sliding > 
       
       
      
        </ion-list>


        <ion-list style="padding-top:2px;"  *ngSwitchCase="'Income'" >
            <ion-item-sliding *ngFor="let income of income_category; let i=index"  style="border-bottom:1px solid gray;">
         <ion-item  >
       
           <span>{{income.categoryname}}</span>
              </ion-item>
    
              <ion-item-options side="right">
                  <button ion-button color="primary" >
                    <ion-icon name="paper"></ion-icon>
                  </button>
                  <button ion-button color="danger" >
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
               
            </ion-item-sliding > 
           
           
          
            </ion-list>
   
</div>

</ion-content>
<ion-footer >
    

        <ion-buttons center style="text-align:center" >
        
          <button  (click)="openModal()"  ion-button  round >
              <ion-icon name="add">  Add new category</ion-icon>
            
          </button>
        </ion-buttons>
    
        
    
    
   
</ion-footer> 
