<ion-header  >
  <ion-navbar style="padding: 1px" color=primary >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid style="padding: 1px"> 

      <ion-row >
          <ion-col  text-left  width-25>
            <ion-datetime  style="color:white;" min="2019-01" max="2020" (ionChange)="getchanged($event)" width-25 displayFormat="MMM YYYY" pickerFormat="MMM YYYY" [(ngModel)]="event.month"></ion-datetime>
          </ion-col>
          <ion-col >{{cahngeddate}}</ion-col>
          
          
          </ion-row>

    </ion-grid>
   
    
  </ion-navbar>
  
</ion-header>

<ion-content  class="ion-contents"  >
  <!--Segment Block-->
    <ion-segment [(ngModel)]="segmentblock" color="primary" >
        <ion-segment-button value="dashboard">
          Dashboard
        </ion-segment-button>
        <ion-segment-button value="activity">
           Today 
        </ion-segment-button>
      </ion-segment>
  

    <div id="ListBackdrop" *ngIf="fabButtonOpened==true" ></div> 
<!-- total expense card details -->
<div [ngSwitch]="segmentblock">
    <ion-card *ngSwitchCase="'dashboard'">

        <ion-card-content class="total-expense-card">
            <ion-grid>

                <ion-row >
                    <ion-col  center text-center  width-25>Income</ion-col>
                    
    
                    <ion-col  center text-center  width-25>Expense</ion-col>
                    <ion-col  center text-center  width-40>Balance</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col id="card-divder-border" center text-center width-25>
                        <h2  ion-text color="income-color">{{getCurrency(totalIncome)}}</h2></ion-col>
                      <ion-col id="card-divder-border" center text-center width-25><h2  ion-text color="expense-color">{{getCurrency(totalExpense)}}</h2></ion-col>
                      <ion-col  center text-center width-50><h2  ion-text color="balance-color">{{getCurrency(balance)}}</h2></ion-col>
                    </ion-row>
                    <!-- <ion-row>
                        <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [options]="memberChartOptions"
                        (chartHover)="chartHovered($event)"
                        [colors]="chartColors"
                        (chartClick)="chartClicked($event)"></canvas>
         
</ion-row> -->
                  </ion-grid>
        
        </ion-card-content>
      
      </ion-card> 


       <!-- Today expense details -->
      <ion-card *ngSwitchCase="'dashboard'">
       <ion-card-content  class="today-card-content" >
              <ion-grid style="padding:1px">

                  <ion-row >
                      <ion-col   text-center  width-25>Today</ion-col>
                      
      
                      <ion-col   text-center  width-25>{{event.today}}</ion-col>
                      <ion-col  center text-center  width-50>Balance</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col  center text-center width-25>
                          <h2  ion-text color="income-color">{{getCurrency(TodayRevenue.totalIncome)}}</h2></ion-col>
                        <ion-col  center text-center width-25><h2  ion-text color="expense-color">{{getCurrency(TodayRevenue.totalExpense) }}</h2></ion-col>
                        <ion-col  center text-center width-50><h2  ion-text color="balance-color">{{getCurrency(TodayRevenue.totalBalance) }}</h2></ion-col>
                      </ion-row>
                    </ion-grid>
         
            <!-- Add card content here! -->
          </ion-card-content>
        
        </ion-card>
   
 <!-- this Week expense details -->

 <ion-card *ngSwitchCase="'dashboard'" >
    <ion-card-content  class="today-card-content" >
        <ion-grid style="padding:1px">

            <ion-row >
                <ion-col   text-center  width-25>This Week</ion-col>
                

                <ion-col   text-center  width-25> {{event.this_week}} </ion-col>
                <ion-col  center text-center  width-50>Balance</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col  center text-center width-25>
                    <h2  ion-text color="income-color">{{getCurrency(WeekRevenue.totalIncome)}}</h2></ion-col>
                  <ion-col  center text-center width-25><h2  ion-text color="expense-color">{{getCurrency(WeekRevenue.totalExpense)}}</h2></ion-col>
                  <ion-col  center text-center width-50><h2  ion-text color="balance-color">{{getCurrency(WeekRevenue.totalBalance)}}</h2></ion-col>
                </ion-row>
              </ion-grid>
    </ion-card-content>
  
  </ion-card>




   <!-- this Month expense details -->

 <ion-card *ngSwitchCase="'dashboard'" >
  <ion-card-content  class="today-card-content" >
      <ion-grid style="padding:1px">

          <ion-row >
              <ion-col   text-center  width-25>This Month</ion-col>
              

              <ion-col   text-center  width-25>
                 
                {{firstday | date :  "MMM - yyyy" }}  - {{data_final | date :  "dd - MMM"}}</ion-col>
              <ion-col  center text-center  width-50>Balance</ion-col>
            </ion-row>
            <ion-row>
                <ion-col  center text-center width-25>
                  <h2  ion-text color="income-color">{{getCurrency(WeekRevenue.totalIncome)}}</h2></ion-col>
                <ion-col  center text-center width-25><h2  ion-text color="expense-color">{{getCurrency(WeekRevenue.totalExpense)}}</h2></ion-col>
                <ion-col  center text-center width-50><h2  ion-text color="balance-color">{{getCurrency(WeekRevenue.totalBalance)}}</h2></ion-col>
              </ion-row>
            </ion-grid>
  </ion-card-content>

</ion-card>

  <!-- <ion-card *ngSwitchCase="'dashboard'">
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card> -->

  
<!-- 
  <ion-card *ngSwitchCase="'dashboard'">

      
    <ion-card-header>
      Doughnut Chart

     
    </ion-card-header>
    <ion-card-content  style="padding:0%">
        <canvas   #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngSwitchCase="'dashboard'">
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card> -->

  <!--All Transection-->

  <ion-card  class="allTansection" *ngSwitchCase="'activity'" >

      <ion-card-header  >
          <ion-grid class="transection-header"  >

              <!-- <ion-row >
                  <ion-col  center text-center  width-25>
                    <span>Income</span>
                    </ion-col>
                  
  
                  <ion-col  center text-center  width-25>
                      <span> Expense</span>
                  </ion-col>
                     
                      
                  <ion-col center text-center  width-50>
               
                    <span>  Balance</span> 
                   
                  </ion-col>
                </ion-row> -->
                
                <ion-row >
                    <ion-col  center text-center   width-25><span ion-text color="income-color">{{getCurrency(totalIncome)}}</span></ion-col>
                    
    
                    <ion-col  center text-center  width-25>
                        <span ion-text color="expense-color" >{{getCurrency(totalExpense)}}</span></ion-col>
                    <ion-col   center text-center  width-50>
                 
                      
                      <span ion-text color="balance-color">{{getCurrency(balance)}}</span>
                    </ion-col>
                  </ion-row>
                  
                </ion-grid>
      </ion-card-header>
      <ion-card-content class="transection-content" >
           <ion-list>
          <!-- <ion-item-sliding>
       <ion-item >
        
             
                 <h3>2019-01-01</h3>
                <span>sdfsfdsfds</span>
                
             
              <h3 ion-text  color=expense-color   item-end>
                ₹ 1000000
              </h3>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="primary" >
                  <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button color="danger" >
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-item-options>
          </ion-item-sliding>  -->

          <ion-item-sliding *ngFor="let expense of expenses; let i=index">
     
              <ion-item >
                 
                   <h3>{{expense.date}}</h3>
                    <span>{{expense.description}}</span>
                    
                 
                  <h3 ion-text  color=expense-color   item-end>
                      <h3 ion-text  [color]="expense.type==='Expense' ? 'expense-color' : 'income-color'"   item-end>
                          {{getCurrency(expense.amount)}}
                        </h3>
                  </h3>
                </ion-item>
    
                <ion-item-options side="right">
                    <button ion-button color="primary" >
                      <ion-icon name="paper"></ion-icon>
                    </button>
                    <button ion-button color="danger" >
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>


          <!-- <ion-list>
          <ion-item-sliding *ngFor="let expense of expenses; let i=index">
            <ion-item nopadding>
              <p>
                <span>{{expense.date}}</span><br>
               
                {{expense.description}}
              </p>
              <h3 ion-text  [color]="expense.type==='Expense' ? 'expense-color' : 'income-color'"   item-end>
                ₹ {{expense.amount}}
              </h3>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="editData(expense.rowid)">
                <ion-icon name="paper"></ion-icon>
              </button>
              <button ion-button color="danger" (click)="deleteData(expense.rowid)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      
     -->
    </ion-card-content>
        <!-- <ion-card-content style="font-size:10px">

            <ion-list style="font-size:10px">
                <button ion-item>
                  <ion-icon name="cart" item-start></ion-icon>
                  Shopping
                  <ion-label  item-end>dsadas</ion-label>
                </button>
            
                <button ion-item>
                  <ion-icon name="medical" item-start></ion-icon>
                  Hospital
                </button>
            
                <button ion-item>
                  <ion-icon name="cafe" item-start></ion-icon>
                  Cafe
                </button>
            
                <button ion-item>
                  <ion-icon name="paw" item-start></ion-icon>
                  Dog Park
                </button>
            
                <button ion-item>
                  <ion-icon name="beer" item-start></ion-icon>
                  Pub
                </button>
            
                <button ion-item>
                  <ion-icon name="planet" item-start></ion-icon>
                  Space
                </button>
            
              </ion-list>
            </ion-card-content> -->

  </ion-card>


<ion-fab bottom right  #fab >
<button ion-fab (click)="openFabButton()" ><ion-icon name="add"></ion-icon> </button>
 
<ion-fab-list side="top">

    <button  color="expense-color"  ion-fab (click)="goExpense(fab)">
      <ion-icon  color="light"   name="remove"></ion-icon>
    </button>
    <ion-label class="fablabelexpense">Expense</ion-label>
   
    <button color="income-color"   ion-fab (click)="goIncome(fab)">
        <ion-icon  color='light'   name="add"></ion-icon>
    </button>

    <ion-label class="fablabelincome">Income</ion-label> 
  </ion-fab-list>
</ion-fab>
      

    </div>


   

      
      

     
</ion-content>  
