page-home {

    .vp-row {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-right: medium gray(34);
      }

    #card-divder-border {
        border-right: 1px solid #488aff; 


    }
}
