page-home {
    .ion-contents {
  background-color: #EEEEEE;
    }


    .total-expense-card{
        padding: 0%;
        font-size:12px;
        font-weight: 600;

    }

    

    ion-card {
        padding: 0%;
    }


.today-card-content{
    padding: 0%;
    ion-item{
        font-size:12px;
        font-weight: 600;
    }

    ion-col,h2{
        font-size:10px;
        font-weight: 700;
    }
}


ion-content.cards-bg {
  background-color: #1313cc;
}

    .vp-row {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-right: medium gray(34);
      }

    #card-divder-border {
        border-right: 1px solid #aaaaaa; 


    }



    // FAB Start

    .fablabelexpense
    {
    position: absolute;
            top: 50px;
            right: 50px;
            font-weight: bold;
            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;

    }


    .fablabelexpense1{
        position: absolute;
        width: 100%;
        padding-right: 220px;
        padding-bottom: 30px;
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: bold;
        
     }

    .fablabelincome1
    {
      position: absolute;
      width: 100%;
      padding-right: 220px;
      padding-bottom: 75px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: bold;

      
    }

    .fablabelincome
    {
    position: absolute;
            top: 0px;
            right: 50px;
            font-weight: bold;
            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;

    }

// FAB End


    .item-select{
        position: initial;
        margin-left: 100px;
        width:40%;
        text-align: center;
    }

    .ion-card {
        font-size: 1px;
    }
}
